<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<% if (auth_data.role != "2" && auth_data != "1") { %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<% }; %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<link rel="icon" href="../../uploads/<%= general_data.site_dark_logo %>" type="image/x-icon">
<link rel="shortcut icon" href="../../uploads/<%= general_data.site_dark_logo %>" type="image/x-icon">
<link rel="preconnect" href="https://fonts.googleapis.com/">
<title><%= general_data.site_title %></title><link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../../css/vendors/font-awesome.css">
<link rel="stylesheet" type="text/css" href="../../css/vendors/themify.css">
<link rel="stylesheet" type="text/css" href="../../css/vendors/icofont.css">
<link rel="stylesheet" type="text/css" href="../../css/vendors/flag-icon.css">

<link rel="stylesheet" type="text/css" href="../../css/vendors/scrollbar.css">
<link rel="stylesheet" type="text/css" href="../../css/vendors/select2.css">
<link rel="stylesheet" type="text/css" href="../../css/vendors/datatables.css">
<link rel="stylesheet" type="text/css" href="../../css/vendors/timepicker.css">
<link rel="stylesheet" type="text/css" href="../../css/vendors/date-picker.css">
<link rel="stylesheet" type="text/css" href="../../css/vendors/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../../css/style.css">
<link rel="stylesheet" type="text/css" href="../../css/vendors/feather-icon.css">
<link id="color" rel="stylesheet" href="../../css/color-1.css" media="screen">
<link rel="stylesheet" type="text/css" href="../../css/responsive.css">

<link rel="stylesheet" href="../../css/toastr.min.css"/>
<script src="../../js/tostify/jquery-1.9.1.min.js" hidden></script>
<script src="../../js/tostify/js-toastr.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=<%= general_data.google_map_key %>"></script>
                                                                            
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" defer></script>
<script>

    if ('<%= auth_data.role %>' == '1') {
        var type = 'admin'
    } else if ('<%= auth_data.role %>' == '2') {
        var type = 'customer'
    } else if ('<%= auth_data.role %>' == '3') {
        var type = 'carrier'
    } else if ('<%= auth_data.role %>' == '5') {
        var type = 'driver' 
    }

    let page_topic = type
    window.OneSignal = window.OneSignal || [];
    OneSignal.push(function() {
        OneSignal.init({
            appId: "<%= general_data.onesignal_app_id %>",
        });
        OneSignal.on('subscriptionChange', function(isSubscribed) {
            if (isSubscribed === true) {
                console.log('The user subscription state is now:', isSubscribed);
                var pathArray = window.location.pathname.split('/');
                OneSignal.sendTags({
                    "subscription_user_Type" : page_topic,
                    "Login_ID" : '<%= auth_data.tbl_admin_id %>',
                }).then(function(tagsSent) {
                    // Callback called when tags have finished sending
                    console.log("tagsSent", tagsSent);
                });
            }
        });
    });
</script>