<!DOCTYPE html>
<html lang="en">
  
<head>
    
  <%- include('./partials/head'); -%>
</head>
<body onload="startTime()">
  <%- include('./partials/header_sidebar'); -%>
    
    <div class="page-body">
        <div class="container-fluid">
            <div class="page-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h3><%=language.Add_Customer%></h3>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/index"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item"><%=language.Customer_List%></li>
                        <li class="breadcrumb-item"><%=language.Add_Customer%></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header pb-0">
                            <h5><%=language.Customer_Details%></h5>
                        </div>
                        <div class="card-body">
                            <form  class="needs-validation" id="admin_customer_form" novalidate="" action="/user/add_customer" method="post">
                                <div class="row g-3">
                                    <div class="col-md-6 col-sm-12">
                                        <label class="form-label"><%=language.First_Name%></label>
                                        <input class="form-control" id="add_customer_First" type="text" name="first_name" placeholder="<%=language.Enter%> <%=language.First_Name%>" required>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <label class="form-label"><%=language.Last_Name%></label>
                                        <input class="form-control" id="add_customer_Last" type="text" name="last_name" placeholder="<%=language.Enter%> <%=language.Last_Name%>" required>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <label class="form-label"><%=language.Phone_Number%></label>
                                        <div class="row">
                                            <div class="col-5">
                                                <select class="js-example-basic-single" id="add_customer_code" name="country_code" required>
                                                    <option value selected disabled><%=language.Country%></option>
                                                    <% CountryCode.forEach((data, x) => { %>
                                                        <option value="<%= data %>"> <%= nameCode[x] %> <%= data %> </option>
                                                    <% }) %>
                                                </select>
                                            </div>
                                            <div class="col-7">
                                                <input class="form-control" id="add_customer_phoneno" type="number" name="phone_no" placeholder="<%=language.Enter%> <%=language.Phone_Number%>" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <label class="form-label"><%=language.Email%></label>
                                        <input class="form-control" id="add_customer_email" type="email" name="email" placeholder="<%=language.Enter%> <%=language.Email%>" required>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <label class="form-label"><%=language.Password%></label>
                                        <input class="form-control" type="password" name="password" placeholder="<%=language.Enter%> <%=language.Password%>" required>
                                    </div>
                                    <p class="text-danger d-none mt-3" id="customer_email_error"><%=language.This_Email_Id_Already_Registered%>.</p>
                                    <p class="text-danger d-none mt-1" id="customer_phoneno_error"><%=language.This_Phone_No_Already_Registered%>.</p>
                                    <p class="text-danger d-none mt-1" id="customer_details_error"><%=language.Please_Enter_All_Detail%>.</p>
                                </div>
                            </form>
                            <div class="text-end m-4 mt-5">
                                <button class="btn btn-square b-r-7 w-25 btn-primary" id="customer_add_btn"><%=language.Save%></button>
                            </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid Ends-->
    </div>

  <%- include('./partials/footer'); -%>
  <%- include('./partials/script'); -%>
</body>

</html>