<!DOCTYPE html>
<html lang="en">
<head>
    
  <%- include('./partials/frontend_head'); -%>
  <%- include('./partials/head'); -%>
</head>
<body>
    <%- include('./partials/frontend_header'); -%>

    

    <div class="ppc-hero-section2 pb-5 ppc-hero-section-custome">
    <div class="container">
      <div class="ppc-hero-content ">
        <h1 class="wow fadeInUpX text-center" data-wow-delay="0s" ><%=language.My_Shipment%></h1>
        <p class="wow fadeInUpX text-center" data-wow-delay="0.25s"><%=language.What_are_you_Planning_to_move%></p>
      </div>
    </div>
    <!-- End collection section -->
  </div>

  <div class="scetion ppc-section-padding pt-5">
    <div class="container height-65px">
      <div class="row">
        <div class="col-lg-12">
          <div class="">
            <div class="text-left">
                <div class="ppc-default-content large pb-3">
                    <h4 class="font-weight-bold"><%=language.Recent_Shipment%></h4>
                </div>
            </div>
            <ul class="nav nav-tabs border-tab nav-secondary nav-left  d-flex " id="danger-tab" role="tablist">
                <% if (module_list[0].isactive == '1') { %>
                    <% var Domestic = 'active' %>
                    <li class="nav-item"><a class="nav-link <%= Domestic %>" id="domestic-order" data-bs-toggle="tab" href="#domastic-order" role="tab" aria-controls="domastic-order" aria-selected="true"><i class="<%= module_list[0].icon %>"></i><%= module_list[0].name %></a></li>
                <% } %>
                <% if (module_list[1].isactive == '1') { %>
                    <% if (module_list[0].isactive != '1') { %>
                        <% var PackersAndMovers = 'active' %>
                    <% } %>
                    <li class="nav-item"><a class="nav-link <%= PackersAndMovers %>" id="packerandmovers-order" data-bs-toggle="tab" href="#packerandmover-orders" role="tab" aria-controls="packerandmover-orders" aria-selected="false"><i class="<%= module_list[1].icon %>"></i><%= module_list[1].name %></a></li>
                <% } %>
                <% if (module_list[2].isactive == '1') { %>
                    <% if (module_list[0].isactive != '1' && module_list[1].isactive != '1') { %>
                        <% var International = 'active' %>
                    <% } %>
                    <li class="nav-item"><a class="nav-link <%= International %>" id="international-order" data-bs-toggle="tab" href="#international-orders" role="tab" aria-controls="international-orders" aria-selected="false"><i class="<%= module_list[2].icon %>"></i><%= module_list[2].name %></a></li>
                <% } %>
            </ul>

            <div class="tab-content" id="danger-tabContent">
                <!-- Domestic -->
                <div class="tab-pane fade show table-order <%= Domestic %>" id="domastic-order" role="tabpanel" aria-labelledby="domestic-order">
                    <div class="table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th> <p><%=language.Description%></p> </th>
                                    <th> <p><%=language.Date%></p> </th>
                                    <th> <p><%=language.Delivery_Type%></p> </th>
                                    <th> <p><%=language.Shipping_Status%></p> </th>
                                    <th> <p><%=language.Payment_Status%></p> </th>
                                    <th> <p><%=language.Total_Amount%></p> </th>
                                    <th> <p><%=language.Approved%> / <br> <%=language.Unapproved%></p> </th>
                                    <th> <p><%=language.Receipt%></p> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% order_list1.forEach((data) => { %>
                                    <tr>
                                        <td>
                                            <i class="<%= module_list[0].icon %>"></i>
                                            <p>#<%= data.order_id %></p>
                                        </td>
                                        <td>
                                            <p><%= data.date %></p>
                                        </td>
                                        <td>
                                            <% delivery_type_data.forEach((delivery_type) => { %>
                                                <% if (data.delivery_type == delivery_type.id) { %>
                                                    <p><%= delivery_type.type %></p>
                                                <% } %>
                                            <% }) %>
                                        </td>
                                        <td>
                                            <% shipping_status_data.forEach((shipping_status) => { %>
                                                <% if (data.shipping_status == shipping_status.id) { %>
                                                    <% if (data.shipping_status == '1') { %>
                                                        <p class="text-warning"><%= shipping_status.status_name %></p>
                                                    <% } else if (data.shipping_status == '2') { %>
                                                        <p class="text-danger"><%= shipping_status.status_name %></p>
                                                    <% } else if (data.shipping_status == '3') { %>
                                                        <p class="text-success"><%= shipping_status.status_name %></p>
                                                    <% } else { %>
                                                        <p class="text-primary"><%= shipping_status.status_name %></p>
                                                    <% } %>
                                                <% } %>
                                            <% }) %>
                                        </td>
                                        <td>
                                            <% if (data.total_price > data.paid_amount) { %>
                                                <p class="text-warning"><%=language.Unpaid%></p>
                                            <% } else { %>
                                                <p class="text-success"><%=language.Paid%></p>
                                            <% } %>
                                        </td>
                                        <td><p class="invosymbol"><%= data.total_price %></p></td>
                                        <td>
                                            <% if (data.carrier_id == "0") { %>
                                                <p class="text-primary"><%=language.Pending%></p>
                                            <% } else if (data.carrier_id == 'Unapproved') { %>
                                                <p class="text-danger mb-0"><%=language.Unapproved%> </p> 
                                                <button class="pb-1" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= data.unapproved_reason %>"><i class="fa fa-info-circle f-16"></i></button>
                                            <% } else { %>
                                                <p class="text-success"><%=language.Approved%></p>
                                            <% } %>
                                        </td>
                                        <td>
                                            <a href="/order/print_shipment/<%= data.id %>"  data-bs-placement="Top" title="" data-bs-original-title="Shipment & Print" aria-label="Shipment & Print" class="db-table-action view custom_small_btn_shipment" ><i class="fas fa-print"></i></a>

                                            <% if (data.total_price > data.paid_amount) { %>
                                            <a href="#/admin/items/show/1"  data-bs-placement="Top" title="" data-bs-original-title="Make Payment" aria-label="Make Payment" class="db-table-action view custom_small_btn_payment"  data-bs-toggle="modal" data-bs-target="#add_paymentmodal" id="add_payment" data-id="<%= data.id %>" data-total_price="<%= data.total_price %>"
                                                data-paid_amount="<%= data.paid_amount %>"><i class="fas fa-credit-card"></i></a>
                                            <% } %>
                                                   
                                            <% if(data.carrier_id != "0" && data.carrier_id != "Unapproved"){ %>
                                            <a href="/order/customer_order_traking/<%= data.id %>"  data-bs-placement="Top" title="" data-bs-original-title="Shipment & Tracking Info" aria-label="Shipment & Tracking Info" class="db-table-action view custom_small_btn_tracking"><i class="fas fa-truck"></i></a>
                                            <% }; %>
                                        </td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Packers And Movers -->
                <div class="tab-pane fade show table-order <%= PackersAndMovers %>" id="packerandmover-orders" role="tabpanel" aria-labelledby="packerandmovers-order">
                    <div class="table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th> <p><%=language.Description%></p> </th>
                                    <th> <p><%=language.Date%></p> </th>
                                    <th> <p><%=language.Delivery_Type%></p> </th>
                                    <th> <p><%=language.Shipping_Status%></p> </th>
                                    <th> <p><%=language.Payment_Status%></p> </th>
                                    <th> <p><%=language.Total_Amount%></p> </th>
                                    <th> <p><%=language.Approved%> / <br> <%=language.Unapproved%></p> </th>
                                    <th> <p><%=language.Receipt%></p> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% order_list2.forEach((data) => { %>
                                    <tr>
                                        <td>
                                            <i class="<%= module_list[1].icon %>"></i>
                                            <p>#<%= data.order_id %></p>
                                        </td>
                                        <td>
                                            <p><%= data.date %></p>
                                        </td>
                                        <td>
                                            <% delivery_type_data.forEach((delivery_type) => { %>
                                                <% if (data.delivery_type == delivery_type.id) { %>
                                                    <p><%= delivery_type.type %></p>
                                                <% } %>
                                            <% }) %>
                                        </td>
                                        <td>
                                            <% shipping_status_data.forEach((shipping_status) => { %>
                                                <% if (data.shipping_status == shipping_status.id) { %>
                                                    <% if (data.shipping_status == '1') { %>
                                                        <p class="text-warning"><%= shipping_status.status_name %></p>
                                                    <% } else if (data.shipping_status == '2') { %>
                                                        <p class="text-danger"><%= shipping_status.status_name %></p>
                                                    <% } else if (data.shipping_status == '3') { %>
                                                        <p class="text-success"><%= shipping_status.status_name %></p>
                                                    <% } else { %>
                                                        <p class="text-primary"><%= shipping_status.status_name %></p>
                                                    <% } %>
                                                <% } %>
                                            <% }) %>
                                        </td>
                                        <td>
                                            <% if (data.total_price > data.paid_amount) { %>
                                                <p class="text-warning"><%=language.Unpaid%></p>
                                            <% } else { %>
                                                <p class="text-success"><%=language.Paid%></p>
                                            <% } %>
                                        </td>
                                        <td><p class="invosymbol"><%= data.total_price %></p></td>
                                        <td>
                                            <% if (data.carrier_id == "0") { %>
                                                <p class="text-primary"><%=language.Pending%></p>
                                            <% } else if (data.carrier_id == 'Unapproved') { %>
                                                <p class="text-danger mb-0"><%=language.Unapproved%> </p> 
                                                <button class="pb-1" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= data.unapproved_reason %>"><i class="fa fa-info-circle f-16"></i></button>
                                            <% } else { %>
                                                <p class="text-success"><%=language.Approved%></p>
                                            <% } %>
                                        </td>
                                        <td>
                                            <a href="/order/print_shipment/<%= data.id %>"  data-bs-placement="Top" title="" data-bs-original-title="Shipment & Print" aria-label="Shipment & Print" class="db-table-action view custom_small_btn_shipment" ><i class="fas fa-print"></i></a>

                                            <% if (data.total_price > data.paid_amount) { %>
                                            <a href="#/admin/items/show/1"  data-bs-placement="Top" title="" data-bs-original-title="Make Payment" aria-label="Make Payment" class="db-table-action view custom_small_btn_payment"  data-bs-toggle="modal" data-bs-target="#add_paymentmodal" id="add_payment" data-id="<%= data.id %>" data-total_price="<%= data.total_price %>"
                                                data-paid_amount="<%= data.paid_amount %>"><i class="fas fa-credit-card"></i></a>
                                            <% } %>
                                                   
                                            <% if(data.carrier_id != "0" && data.carrier_id != "Unapproved"){ %>
                                            <a href="/order/customer_order_traking/<%= data.id %>"  data-bs-placement="Top" title="" data-bs-original-title="Shipment & Tracking Info" aria-label="Shipment & Tracking Info" class="db-table-action view custom_small_btn_tracking"><i class="fas fa-truck"></i></a>
                                            <% }; %>
                                        </td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- International -->
                <div class="tab-pane fade show table-order <%= International %>" id="international-orders" role="tabpanel"
                    aria-labelledby="international-order">
                    <div class="table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th> <p><%=language.Description%></p> </th>
                                    <th> <p><%=language.Date%></p> </th>
                                    <th> <p><%=language.Delivery_Type%></p> </th>
                                    <th> <p><%=language.Shipping_Status%></p> </th>
                                    <th> <p><%=language.Payment_Status%></p> </th>
                                    <th> <p><%=language.Total_Amount%></p> </th>
                                    <th> <p><%=language.Approved%> / <br> <%=language.Unapproved%></p> </th>
                                    <th> <p><%=language.Receipt%></p> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% order_list3.forEach((data) => { %>
                                    <tr>
                                        <td>
                                            <i class="<%= module_list[2].icon %>"></i>
                                            <p>#<%= data.order_id %></p>
                                        </td>
                                        <td>
                                            <p><%= data.date %></p>
                                        </td>
                                        <td>
                                            <% delivery_type_data.forEach((delivery_type) => { %>
                                                <% if (data.delivery_type == delivery_type.id) { %>
                                                    <p><%= delivery_type.type %></p>
                                                <% } %>
                                            <% }) %>
                                        </td>
                                        <td>
                                            <% shipping_status_data.forEach((shipping_status) => { %>
                                                <% if (data.shipping_status == shipping_status.id) { %>
                                                    <% if (data.shipping_status == '1') { %>
                                                        <p class="text-warning"><%= shipping_status.status_name %></p>
                                                    <% } else if (data.shipping_status == '2') { %>
                                                        <p class="text-danger"><%= shipping_status.status_name %></p>
                                                    <% } else if (data.shipping_status == '3') { %>
                                                        <p class="text-success"><%= shipping_status.status_name %></p>
                                                    <% } else { %>
                                                        <p class="text-primary"><%= shipping_status.status_name %></p>
                                                    <% } %>
                                                <% } %>
                                            <% }) %>
                                        </td>
                                        <td>
                                            <% if (data.total_price > data.paid_amount) { %>
                                                <p class="text-warning"><%=language.Unpaid%></p>
                                            <% } else { %>
                                                <p class="text-success"><%=language.Paid%></p>
                                            <% } %>
                                        </td>
                                        <td><p class="invosymbol"><%= data.total_price %></p></td>
                                        <td>
                                            <% if (data.carrier_id == "0") { %>
                                                <p class="text-primary"><%=language.Pending%></p>
                                            <% } else if (data.carrier_id == 'Unapproved') { %>
                                                <p class="text-danger mb-0"><%=language.Unapproved%> </p> 
                                                <button class="pb-1" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= data.unapproved_reason %>"><i class="fa fa-info-circle f-16"></i></button>
                                            <% } else { %>
                                                <p class="text-success"><%=language.Approved%></p>
                                            <% } %>
                                        </td>
                                        <td>
                                            <a href="/order/print_shipment/<%= data.id %>"  data-bs-placement="Top" title="" data-bs-original-title="Shipment & Print" aria-label="Shipment & Print" class="db-table-action view custom_small_btn_shipment" ><i class="fas fa-print"></i></a>

                                            <% if (data.total_price > data.paid_amount) { %>
                                            <a href="#/admin/items/show/1"  data-bs-placement="Top" title="" data-bs-original-title="Make Payment" aria-label="Make Payment" class="db-table-action view custom_small_btn_payment"  data-bs-toggle="modal" data-bs-target="#add_paymentmodal" id="add_payment" data-id="<%= data.id %>" data-total_price="<%= data.total_price %>"
                                                data-paid_amount="<%= data.paid_amount %>"><i class="fas fa-credit-card"></i></a>
                                            <% } %>
                                                   
                                            <% if(data.carrier_id != "0" && data.carrier_id != "Unapproved"){ %>
                                            <a href="/order/customer_order_traking/<%= data.id %>"  data-bs-placement="Top" title="" data-bs-original-title="Shipment & Tracking Info" aria-label="Shipment & Tracking Info" class="db-table-action view custom_small_btn_tracking"><i class="fas fa-truck"></i></a>
                                            <% }; %>
                                        </td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

          </div>
        </div>
        
      </div>
    </div>
  </div>

  <!-- add_paymentmodal -->

  <div class="modal fade" id="add_paymentmodal" role="dialog" aria-labelledby="add_paymentmodal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><%=language.Add_Payment%></h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pt-2">
                <div class="row">
                    <div class="col-12 d-flex justify-content-between">
                        <span class="f-16"><%=language.Total_Amount%> :</span>
                        <span class="f-16 invosymbol" id="total_amount">5646</span>
                    </div>
                    <div class="col-12 d-flex justify-content-between">
                        <span class="f-16"><%=language.Paid_Amount%> :</span>
                        <span class="f-16 invosymbol" id="paid_amount">5646</span>
                    </div>
                    <div class="col-12 pb-2 d-flex justify-content-between border-bottom">
                        <span class="f-16"><%=language.Due_Amount%> :</span>
                        <span class="f-16 invosymbol" id="due_amount">5646</span>
                    </div> 
                    <div class="col-12 pt-3">
                        <label class="form-label"><%=language.Payment_Method%></label>
                        <select class="form-select" id="add_payment_method" required>
                            <option selected disabled value><%=language.select_Payment_Method%></option>
                            <% transaction_method_list.forEach((data) => { %>
                                <% if(data.id != "3"){ %>
                                <option value="<%= data.id %>"><%= data.title %></option>
                                <% }; %>
                            <% }) %>
                            
                        </select>
                    </div>
                    <input type="hidden" id="hidden_orderid">
                    <input type="hidden" id="hidden_order_tot">

                    <form id="customer_cash_payment" class="needs-validation" novalidate="" action="" method="post">
                    </form>

                    <form id="customer_paystack" class="needs-validation" novalidate="" action="/packers_and_movers/paystack_payment" method="post">
                        <input class="hidden" id="customer_tot_paystack" name="paystack_total_amount" type="text" value="" >
                        <input class="hidden" id="customer_order_paystack" name="paystack_order_id" type="text" value="" >
                        <input class="hidden" id="customer_pay_paystack" name="paystack_payment_type" type="text" value="" >
                        <input class="hidden" type="text" name="type" value="0">
                    </form>
                    
                    <form id="customer_paypal" class="needs-validation" novalidate="" action="/packers_and_movers/paypal_payment" method="post">
                        <input class="hidden" id="customer_tot_paypal" name="hidden_order_tot" type="text" value="" >
                        <input class="hidden" id="customer_order_paypal" name="paypal_payment_type" type="text" value="" >
                        <input class="hidden" id="customer_pay_paypal" name="payment_id" type="text" value="" >
                        <input class="hidden" type="text" name="type" value="0">
                    </form>
                    
                    
                    <input class="hidden" id="customer_tot_razorpay" name="razorpay_total_amount" type="text" value="" >
                    <input class="hidden" id="customer_order_razorpay" name="razorpay_order_id" type="text" value="" >
                    <input class="hidden" id="customer_pay_razorpay" name="razorpay_payment_type" type="text" value="" >
                    <input class="hidden" id="customer_type" type="text" name="type" value="0">
                    <a class="d-none" id="customer_pazorpay_first_btn" ></a>
                    <a class="d-none" id="customer_pazorpay_btn" ></a>
                    
                    <form id="customer_dashboard_stripe" class="needs-validation" novalidate="" action="/packers_and_movers/stripe_payment" method="post">
                        <input class="hidden" id="customer_tot_stripe" name="stripe_total_amount" type="text" value="" >
                        <input class="hidden" id="customer_order_stripe" name="stripe_order_id" type="text" value="" >
                        <input class="hidden" id="customer_pay_stripe" name="stripe_payment_type" type="text" value="" >
                        <input class="hidden" type="text" name="type" value="0">
                    </form>


                    <div class="d-none pt-3" id="coustomer_account_payment">
                        <% transaction_method_list.forEach((data) => { %>
                            <% if(data.id == "7"){ %>
                        <div class="d-flex">
                            <div class="col-6 mb-1 ">
                              <h6 class="mb-1 f-16" ><%=language.Bank_Name%> :- </h6>
                              <p class="mb-3"><%=data.bank_name%></p>
                            </div>
                            <div class="col-6 mb-1 ">
                              <h6 class="mb-1 f-16"><%=language.Bank_Account_Holder_Name%> :- </h6>
                              <p class="mb-3"><%=data.bank_holder_name%></p>
                            </div>
                          </div>

                          <div class="d-flex">
                            <div class="col-6 mb-1 ">
                              <h6 class="mb-1 f-16"><%=language.Bank_Account_No%> :- </h6>
                              <p class="mb-3"><%=data.bank_account_No%></p>
                            </div>
                            <div class="col-6 mb-1 ">
                              <h6 class="mb-1 f-16"><%=language.Bank_IFSC_Code%> :- </h6>
                              <p class="mb-3"><%=data.bank_ifsc_code%></p>
                            </div>
                          </div>
                                    
                          <div class="d-flex">
                            <div class="col-6 ">
                              <h6 class="mb-1 f-16"><%=language.Bank_Swift_Code%> :- </h6>
                              <p><%=data.swift_code%></p>
                            </div>
                        </div>
                        <form  class="needs-validation" id="coustomer_payment_image_submit" novalidate="" action="" method="post" enctype="multipart/form-data">
                            <div class="col-12 pt-3">
                                <label class="form-label"><%=language.Upload_Transaction_Image%></label>
                                <input class="form-control" id="coustomer_payment_img" type="file" name="payment_image" required>
                            </div>
                            <p class="text-danger d-none pt-1" id="customer_payment_ing_error"><%=language.Upload_Transaction_Image%></p>
                        </form>
                          <% }; %>
                          <% }) %>

                    </div>



                    <button class="btn btn-primary btn-square b-r-5 w-100 mt-4" id="customer_das_payment_btn" type="submit"><%=language.Submit%></button>
                </div>
            </div>
        </div>
    </div>
</div>

    <%- include('./partials/frontend_footer'); -%>
    <%- include('./partials/frontend_script'); -%>
    <%- include('./partials/script'); -%>
</body>
</html>