<!DOCTYPE html>
<html lang="en">
  
<head>
    
  <%- include('./partials/head'); -%>
</head>
<body>
  <%- include('./partials/header_sidebar'); -%>
    
    <div class="page-body">
        <div class="container-fluid">
            <div class="page-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h3><%=language.Delivery_Type%></h3>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/index"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item"><%=language.Delivery_Type_List%></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between pb-0">
                            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                                <% if (module_list[0].isactive == '1') { %>
                                    <% var Domestic = 'active' %>
                                    <% var ModuleList = '1' %>
                                    <% var Moduleid = module_list[0].id %>
                                    <li class="nav-item"><a class="dynamic_module nav-link <%= Domestic %>" data-module="1" id="danger-home-tab" data-bs-toggle="tab" href="#danger-home" role="tab" aria-controls="danger-home" aria-selected="true"><i class="<%= module_list[0].icon %>"></i><%= module_list[0].name %></a></li>
                                <% } %>
                                <% if (module_list[1].isactive == '1') { %>
                                    <% if (module_list[0].isactive != '1') { %>
                                        <% var PackersAndMovers = 'active' %>
                                        <% var ModuleList = '2' %>
                                        <% var Moduleid = module_list[0].id %>
                                    <% } %>
                                    <li class="nav-item"><a class="dynamic_module nav-link <%= PackersAndMovers %>" data-module="2" id="profile-danger-tab" data-bs-toggle="tab" href="#danger-profile" role="tab" aria-controls="danger-profile" aria-selected="false"><i class="<%= module_list[1].icon %>"></i><%= module_list[1].name %></a></li>
                                <% } %>
                                <% if (module_list[2].isactive == '1') { %>
                                    <% if (module_list[0].isactive != '1' && module_list[1].isactive != '1') { %>
                                        <% var International = 'active' %>
                                        <% var ModuleList = '3' %>
                                        <% var Moduleid = module_list[0].id %>
                                    <% } %>
                                    <li class="nav-item"><a class="dynamic_module nav-link <%= International %>" data-module="3" id="inter-danger-tab" data-bs-toggle="tab" href="#danger-inter" role="tab" aria-controls="danger-inter" aria-selected="false"><i class="<%= module_list[2].icon %>"></i><%= module_list[2].name %></a></li>
                                <% } %>
                            </ul>
                            </div>
                            <input type="hidden" id="dynamic_table" value="<%= ModuleList %>">

                            <% let permiss = permission != "1" ? permission.delivery.split(",")[1] : "1" %>
                            <% if(permiss == "1"){ %>
                            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 text-end">
                                <button class="btn btn-square btn-primary b-r-10" type="button" id="delivery_type_click" data-bs-toggle="modal" data-bs-target="#add_delivery_typemodal"><%=language.Add_Delivery_Type%></button>
                            </div>
                            <% } %>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive theme-scrollbar">
                                <table class="display" id="basic-1">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th><%=language.Type%></th>
                                            <th><%=language.Sub_Type%></th>
                                            <th><%=language.Price%></th>
                                            <% let permissions = permission != "1" ? permission.delivery.split(",")[2] : "1" %>
                                            <% if(permissions == "1"){ %>
                                            <th><%=language.Action%></th>
                                            <% } %>
                                        </tr>
                                    </thead>
                                    
                                    <!-- domestic_table -->
                                    <tbody class="domestic_table">
                                        <% var i = 1 %>
                                        <% delivery_type_list1.forEach((data) => { %>
                                            <tr>
                                                <td><%= i %></td>
                                                <td><%= data.type %></td>
                                                <td><%= data.sub_type %></td>
                                                <td class="invosymbol"><%= data.price %></td>
                                                <% if(permissions == "1"){ %>
                                                <td>
                                                    <ul class="action"> 
                                                        <li class="edit"><a data-bs-toggle="modal" data-bs-target="#edit_delivery_typemodal" id="edit_delivery_type" data-id="<%= data.id %>" 
                                                            data-type="<%= data.type %>" data-sub_type="<%= data.sub_type %>" data-price="<%= data.price %>"><i class="icon-pencil-alt"></i></a></li>
                                                        <li class="delete"><a href="/settings/delete_delivery_type/<%=data.id%>"><i class="icon-trash"></i></a></li>
                                                    </ul>
                                                </td>
                                                <% } %>
                                            </tr>
                                        <% i++ %>
                                        <% }) %>
                                    </tbody>
                                    
                                    <!-- packersandmovers_table -->
                                    <tbody class="packersandmovers_table d-none">
                                        <% var i = 1 %>
                                        <% delivery_type_list2.forEach((data) => { %>
                                            <tr>
                                                <td><%= i %></td>
                                                <td><%= data.type %></td>
                                                <td><%= data.sub_type %></td>
                                                <td class="invosymbol"><%= data.price %></td>
                                                <% if(permissions == "1"){ %>
                                                <td>
                                                    <ul class="action"> 
                                                        <li class="edit"><a data-bs-toggle="modal" data-bs-target="#edit_delivery_typemodal" id="edit_delivery_type" data-id="<%= data.id %>" 
                                                            data-type="<%= data.type %>" data-sub_type="<%= data.sub_type %>" data-price="<%= data.price %>"><i class="icon-pencil-alt"></i></a></li>
                                                        <li class="delete"><a href="/settings/delete_delivery_type/<%=data.id%>"><i class="icon-trash"></i></a></li>
                                                    </ul>
                                                </td>
                                                <% } %>
                                            </tr>
                                        <% i++ %>
                                        <% }) %>
                                    </tbody>
                                    
                                    <!-- international_table -->
                                    <tbody class="international_table d-none">
                                        <% var i = 1 %>
                                        <% delivery_type_list3.forEach((data) => { %>
                                            <tr>
                                                <td><%= i %></td>
                                                <td><%= data.type %></td>
                                                <td><%= data.sub_type %></td>
                                                <td class="invosymbol"><%= data.price %></td>
                                                <% if(permissions == "1"){ %>
                                                <td>
                                                    <ul class="action"> 
                                                        <li class="edit"><a data-bs-toggle="modal" data-bs-target="#edit_delivery_typemodal" id="edit_delivery_type" data-id="<%= data.id %>" 
                                                            data-type="<%= data.type %>" data-sub_type="<%= data.sub_type %>" data-price="<%= data.price %>"><i class="icon-pencil-alt"></i></a></li>
                                                        <li class="delete"><a href="/settings/delete_delivery_type/<%=data.id%>"><i class="icon-trash"></i></a></li>
                                                    </ul>
                                                </td>
                                                <% } %>
                                            </tr>
                                        <% i++ %>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid Ends-->
    </div>

    <!-- add_delivery_typemodal -->
    
    <div class="modal fade" id="add_delivery_typemodal" tabindex="-1" role="dialog" aria-labelledby="add_delivery_typemodal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><%=language.Add_Delivery_Type%></h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form class="needs-validation" novalidate="" action="/settings/add_delivery_type" method="post">
                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="col-12">
                                <label class="form-label"><%=language.Delivery_Type_Name%></label>
                                <input class="form-control" type="text" name="type" placeholder="<%=language.Enter%> <%=language.Delivery_Type_Name%>" required>
                            </div>
                            <div class="col-12">
                                <label class="form-label"><%=language.Sub_Delivery_Type_Name%></label>
                                <input class="form-control" type="text" name="sub_type" placeholder="<%=language.Enter%> <%=language.Sub_Delivery_Type_Name%>" required>
                            </div>
                            <div class="col-12">
                                <label class="form-label"><%=language.Price%></label>
                                <input class="form-control" type="number" name="price" placeholder="<%=language.Enter%> <%=language.Price%>" required>
                            </div>
                        </div>
                    </div>
                    <input type="text" id="delivety_zone" name="delivery_module" hidden>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal"><%=language.Close%></button>
                        <button class="btn btn-primary" type="submit"><%=language.Save%></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- edit_delivery_typemodal -->
    
    <div class="modal fade" id="edit_delivery_typemodal" tabindex="-1" role="dialog" aria-labelledby="edit_delivery_typemodal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><%=language.Edit_Delivery_Type%></h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form  class="needs-validation" novalidate="" id="edit_id" method="post">
                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="col-12">
                                <label class="form-label"><%=language.Delivery_Type_Name%></label>
                                <input class="form-control" type="text" name="type" id="type" placeholder="<%=language.Enter%> <%=language.Delivery_Type_Name%>" required>
                            </div>
                            <div class="col-12">
                                <label class="form-label"><%=language.Sub_Delivery_Type_Name%></label>
                                <input class="form-control" type="text" name="sub_type" id="sub_type" placeholder="<%=language.Enter%> <%=language.Sub_Delivery_Type_Name%>" required>
                            </div>
                            <div class="col-12">
                                <label class="form-label"><%=language.Price%></label>
                                <input class="form-control" type="number" name="price" id="price" placeholder="<%=language.Enter%> <%=language.Price%>" required>
                            </div>
                        </div>
                    </div>
                    <input type="text" id="delivety_edit_zone" name="delivery_module" hidden>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal"><%=language.Close%></button>
                        <button class="btn btn-primary" type="submit"><%=language.Save%></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

  <%- include('./partials/footer'); -%>
  <%- include('./partials/script'); -%>
</body>

</html>