<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/frontend_head'); -%>
  <%- include('./partials/head'); -%>
</head>
<body>
    <%- include('./partials/frontend_header'); -%>

    <div class="masco-breadcrumb-section">
      <div class="container">
        <div class="breadcrumbs ppc-inner-padding pb-2" style="background-image: url('../../frontend/images/shape/dots.png')">
          <h4 class="wow fadeInUpX" data-wow-delay="0s">Packers and Movers</h4>
          <nav aria-label="breadcrumb" class="wow fadeInUpX" data-wow-delay="0.15s">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Surat <i class="fas fa-angle-right px-2"></i></li>
            <li class="breadcrumb-item active">Ahmedabad</li> 
            </ol>
          </nav>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
          <div class="col-xl-12 p-0">    
              <div class="login-card py-5">
                  <div class="card w-50">
                      <div class="card-body">
                        <div class="default-according style-1" id="accordionoc">
                            <!-- Describe Package Content -->

                            <div class="card">
                                <div class="card-header">
                                <h5 class="mb-0">
                                    <button class="btn btn-link ps-0" data-bs-toggle="collapse" data-bs-target="#collapseicon" aria-expanded="false" aria-controls="collapse11"><i class="icofont icofont-briefcase-alt-2"></i> Describe Package Content</button>
                                </h5>
                                </div>
                                <div class="collapse" id="collapseicon" aria-labelledby="collapseicon" data-bs-parent="#accordionoc">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="card">
                                                    <div class="card-body d-flex">
                                                        <i class="fa fa-modx m-r-10"></i>
                                                        <h5>Rakhi & Gifts</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="card">
                                                    <div class="card-body d-flex">
                                                        <i class="fa fa-modx m-r-10"></i>
                                                        <h5>Clothes</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="card">
                                                    <div class="card-body d-flex">
                                                        <i class="fa fa-modx m-r-10"></i>
                                                        <h5>Others</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Describe Your Package -->

                            <div class="card">
                                <div class="card-header">
                                <h5 class="mb-0">
                                    <button class="btn btn-link ps-0 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseicon1" aria-expanded="false"><i class="icofont icofont-support"></i> Describe Your Package</button>
                                </h5>
                                </div>
                                <div class="collapse" id="collapseicon1" aria-labelledby="headingeight" data-bs-parent="#accordionoc">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="card">
                                                    <div class="card-body d-flex">
                                                        <i class="fa fa-modx m-r-10"></i>
                                                        <h5>Rakhi & Gifts</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="card">
                                                    <div class="card-body d-flex">
                                                        <i class="fa fa-modx m-r-10"></i>
                                                        <h5>Clothes</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="card">
                                                    <div class="card-body d-flex">
                                                        <i class="fa fa-modx m-r-10"></i>
                                                        <h5>Others</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 

                            <!-- Choose Package Size -->

                            <div class="card">
                                <div class="card-header">
                                <h5 class="mb-0">
                                    <button class="btn btn-link ps-0 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseicon2" aria-expanded="false"><i class="icofont icofont-support"></i> Choose Package Size</button>
                                </h5>
                                </div>
                                <div class="collapse" id="collapseicon2" aria-labelledby="headingeight" data-bs-parent="#accordionoc">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="card">
                                                    <div class="card-body d-flex">
                                                        <i class="fa fa-modx m-r-10"></i>
                                                        <h5>Rakhi & Gifts</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="card">
                                                    <div class="card-body d-flex">
                                                        <i class="fa fa-modx m-r-10"></i>
                                                        <h5>Clothes</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="card">
                                                    <div class="card-body d-flex">
                                                        <i class="fa fa-modx m-r-10"></i>
                                                        <h5>Others</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 

                            <!-- Choose Package Weight -->

                            <div class="card">
                                <div class="card-header">
                                <h5 class="mb-0">
                                    <button class="btn btn-link ps-0 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseicon3" aria-expanded="false"><i class="icofont icofont-support"></i> Choose Package Weight</button>
                                </h5>
                                </div>
                                <div class="collapse" id="collapseicon3" aria-labelledby="headingeight" data-bs-parent="#accordionoc">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="card">
                                                    <div class="card-body d-flex">
                                                        <i class="fa fa-modx m-r-10"></i>
                                                        <h5>Rakhi & Gifts</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="card">
                                                    <div class="card-body d-flex">
                                                        <i class="fa fa-modx m-r-10"></i>
                                                        <h5>Clothes</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="card">
                                                    <div class="card-body d-flex">
                                                        <i class="fa fa-modx m-r-10"></i>
                                                        <h5>Others</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row g-4 mt-3">
                                            <div class="col-3">
                                                <label class="form-label">Length</label>
                                                <input class="form-control" type="number" name="package_value" placeholder="Enter Length">
                                            </div>
                                            <div class="col-3">
                                                <label class="form-label">Width</label>
                                                <input class="form-control" type="number" name="package_value" placeholder="Enter Width">
                                            </div>
                                            <div class="col-3">
                                                <label class="form-label">Height</label>
                                                <input class="form-control" type="number" name="package_value" placeholder="Enter Height">
                                            </div>
                                            <div class="col-3 pt-5 mt-1">
                                                <input class="form-control" type="text" value="CM" readonly>
                                            </div>

                                            <div class="col-12">
                                                <div class="b-r-7 p-3" style="background-color: #F2F2F2;">
                                                    <span>Volumetric Weight Calculation</span>
                                                    <span class="m-l-20">10 (Length) * 10 (Width) * 10 (Height) / 6.25 (Volumetric Divisor)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Delhivery Protect -->

                            <div class="card">
                                <div class="card-header">
                                <h5 class="mb-0">
                                    <button class="btn btn-link ps-0 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseicon4" aria-expanded="false"><i class="icofont icofont-support"></i> Delhivery Protect</button>
                                </h5>
                                </div>
                                <div class="collapse" id="collapseicon4" aria-labelledby="headingeight" data-bs-parent="#accordionoc">
                                    <div class="card-body">
                                        <div class="row g-4">
                                            <div class="col-12">
                                                <label class="form-label">Package Value</label>
                                                <input class="form-control" type="number" name="package_value" placeholder="Enter Package Value">
                                            </div>
                                            <div class="col-12">
                                                <div class="b-r-7 p-3" style="background-color: #F2F2F2;">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="checkbox p-0 checkbox-dark">
                                                            <input class="form-check-input add_insurance" id="invalidCheck" type="checkbox">
                                                            <label class="form-check-label m-0 f-w-600" for="invalidCheck">Secure your package for just <span class="invosymbol">100</span></label>
                                                        </div>
                                                    </div>
                                                    <p class="f-12 px-2 mx-4 mt-2 my-0 d-none" id="hidden_insurance">Claim upto <span class="font-success f-w-700 invosymbol">500</span> in case of loss or damage</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 

                        </div>

                        <a href="/courier_delivery/domestic_date_time" class="btn btn-primary btn-square b-r-5 w-100 mt-4">Next</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>


    <%- include('./partials/frontend_footer'); -%>
    <%- include('./partials/frontend_script'); -%>
    <%- include('./partials/script'); -%>
</body>
</html>