<!DOCTYPE html>
<html lang="en">
  
<head>
    
  <%- include('./partials/head'); -%>
</head>
<body onload="startTime()">
  <%- include('./partials/header_sidebar'); -%>
    
    <div class="page-body">
        <div class="container-fluid">
            <div class="page-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h3><%=language.Order_List%></h3>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/index"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item"><%=language.Order_List%></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive theme-scrollbar">
                                <table class="display" id="basic-1">
                                    <thead>
                                        <tr>
                                            <th class="d-none"></th>
                                            <th><%=language.Order_Id%></th>
                                            <th><%=language.Date%></th>
                                            <th><%=language.Transaction_ID%></th>
                                            <th><%=language.Customer%></th>
                                            <th><%=language.Total_Price%></th>
                                            <th><%=language.Payment_Status%></th>
                                            <th><%=language.Shipping_Status%></th>
                                            <th><%=language.Is_Approved%></th>
                                            <th><%=language.Action%></th>
                                        </tr>
                                    </thead>

                                    <tbody class="domestic_table">
                                        <% order_list.forEach((data) => { %>
                                            <tr>
                                                <td class="d-none"></td>
                                                <td>#<%= data.order_id %></td>
                                                <td><%= data.date %></td>
                                                <td>#<%= data.tracking_id %></td>
                                                <td><%= data.customer_fname %> <%= data.customer_lname %></td>
                                                <td class="invosymbol"><%= data.total_price %></td>
                                                <td>
                                                    <% if (data.total_price > data.paid_amount) { %>
                                                        <span class="badge badge-danger"><%=language.Unpaid%></span>
                                                    <% } else { %>
                                                        <div class="d-flex">
                                                        <span class="badge badge-success"><%=language.Paid%></span>
                                                        <div class="custom_tooltip m" style="margin-top: 3px; margin-left: 10px;"><i class="fa fa-info-circle f-16" id="show_img_model" data-bs-toggle="modal" data-bs-target="#payment_img" 
                                                            data-title="<%= data.payment_name %>" data-payment_img="<%= data.payment_image %>" data-payment="<%= data.paid_amount %>" data-total="<%= data.total_price %>"></i>
                                                            
                                                        </div>
                                                    </div>
                                                    <% } %>
                                                </td>   
                                                <td>
                                                    <% if (data.shipping_status == '1') { %>
                                                        <span class="badge badge-warning"><%= data.status_name %></span>
                                                    <% } else if (data.shipping_status == '2') { %>
                                                        <span class="badge badge-danger"><%= data.status_name %></span>
                                                    <% } else if (data.shipping_status == '3') { %>
                                                        <span class="badge badge-success"><%= data.status_name %></span>
                                                    <% } else { %>
                                                        <span class="badge badge-primary"><%= data.status_name %></span>
                                                    <% } %>
                                                </td>
                                                <td>
                                                    <% if (data.carrier_id == '0') { %>
                                                        <span class="badge badge-primary"><%=language.Pending%></span>
                                                    <% } else if (data.carrier_id == 'Unapproved') { %>
                                                        <span class="badge badge-danger"><%=language.Unapproved%> </span> 

                                                        <i class="fa fa-info-circle f-16" data-bs-toggle="tooltip" data-bs-placement="Top" title="<%= data.unapproved_reason %>"></i>
                                                    <% } else { %>
                                                        <span class="badge badge-success"><%=language.Approved%></span>
                                                    <% } %>
                                                </td>
                                                <td>
                                                    <div class="dropdown">
                                                        <button class="dropbtn btn-pill btn-primary px-4 py-2" type="button"><%=language.Action%></button>
                                                        <div class="dropdown-content myDropdown">

                                                                <% if (data.total_price > data.paid_amount) { %>
                                                                    <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#add_paymentmodal" id="add_payment" data-id="<%= data.id %>"><i class="fa fa-credit-card-alt f-16"></i> <%=language.Add_Payment%></a>
                                                                    <a class="dropdown-item" href="/order/print_shipment/<%= data.id %>"><i class="fa fa-print f-14"></i> <%=language.Print_Shipment%></a>
                                                                <% } else { %>
                                                                    <% if (data.carrier_id == null) { %>
                                                                        
                                                                    <% } else { %>

                                                                        <% if(data.assigned_driver == null){ %>
                                                            
                                                                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#assigned_driver" id="add_driver_click" data-id="<%= data.id %>" data-carrier="<%=data.carrier_id%>"><i class="fa fa-drivers-license f-16"></i>&nbsp; <%=language.Assigned_Driver%></a>
            
                                                                        <% } else { %>

                                                                            <a class="dropdown-item" href="/order/view_tracking/<%= data.id %>"><i class="fa fa-file-text-o f-14"></i> <%=language.Shipment_Info%></a>
                                                                            
                                                                            <% if (data.shipping_status != '3') { %>
                                                                                <a class="dropdown-item" href="/order/shipment_tracking/<%= data.id %>"><i class="fa fa-refresh f-14"></i> <%=language.Add_New_Shipment_Status%></a>
                                                                                <a class="dropdown-item" href="/order/deliver_shipment/<%= data.id %>"><i class="fa fa-cube f-14"></i> <%=language.Deliver_The_Shipment%></a>
                                                                            <% } %>
                                                                                
                                                                            <a class="dropdown-item" href="/order/print_shipment/<%= data.id %>"><i class="fa fa-print f-14"></i> <%=language.Print_Shipment%></a>
                                                                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#print_Barcoad" id="click_print_Barcoad" data-id="<%= data.id %>"><i class="fa fa-barcode f-16"></i> <%=language.Print_Barcoad%></a>

                                                                            <% }; %>
                                                                                    
                                                                    <% } %>
                                                                <% } %>

                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        <% }) %>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid Ends-->
    </div>

    

    <!-- approved_order -->

    <div class="modal fade" id="approved_order" role="dialog" aria-labelledby="approved_order" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><%=language.Add_Carrier%></h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="add_carrier_modal" class="needs-validation" novalidate="" method="post">
                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="col-12">
                                <label class="col-form-label pt-0"><%=language.Carrier_List%></label>
                                <select class="js-example-basic-single" name="carrier" required>
                                    <option value selected disabled><%=language.Select_Carrier%></option>
                                    <% carrier_list.forEach((data) => { %>
                                        <option value="<%= data.id %>"><%= data.first_name %> <%= data.last_name %></option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal"><%=language.Close%></button>
                        <button class="btn btn-primary" type="submit"><%=language.Save%></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- approved_driver -->

    <div class="modal fade" id="assigned_driver" role="dialog" aria-labelledby="assigned_driver" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><%=language.Add_Driver%></h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="add_driver_modal" class="needs-validation" novalidate="" method="post">
                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="col-12">
                                <label class="col-form-label pt-0"><%=language.Driver_List%></label>
                                <select class="js-example-basic-single" name="driver" required>
                                    <option value selected disabled><%=language.Select_Driver%></option>
                                    <% if(auth_data.role != "1"){ %>

                                    <% driver_list.forEach((data) => { %>
                                        <option value="<%= data.id %>"><%= data.first_name %> <%= data.last_name %></option>
                                    <% }) %>

                                    <% }; %>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal"><%=language.Close%></button>
                        <button class="btn btn-primary" type="submit"><%=language.Save%></button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- unapproved_order -->

    <div class="modal fade" id="unapproved_order" role="dialog" aria-labelledby="unapproved_order" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><%=language.Unapproved_Order%></h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="add_unapproved_order_modal" class="needs-validation" novalidate="" method="post">
                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="col-12">
                                <label class="form-label"><%=language.Reason%></label>
                                <textarea class="form-control" rows="1" name="unapproved_reason" placeholder="Enter Reason"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal"><%=language.Close%></button>
                        <button class="btn btn-primary" type="submit"><%=language.Save%></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- add_paymentmodal -->

    <div class="modal fade" id="add_paymentmodal" tabindex="-1" role="dialog" aria-labelledby="add_paymentmodal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><%=language.Add_Payment%></h5>
                    <button class="btn-close" id="clode_payment_model" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="background-color: #FAFAFA;">
                    <div class="row">
                        <% transaction_method_list.forEach((data) => { %>
                            <div class="col-4">
                                <div class="card" style="height: 130px;">
                                    <% if(data.id == "7"){ %>

                                    <a href="" class="btn text-center w-100 h-100 px-0 py-3 payment_bank_btn" type="button" data-bs-toggle="modal" data-bs-target="#add_patment" id="order_payment_model" data-orderid="">
                                        <img class="img-fluid b-r-7 mb-2" id="file-preview" width="105px" height="105px" src="../../uploads/<%= data.image %>" alt="image">
                                        <br>
                                        <span><%= data.title %></span>
                                    </a>

                                    <% } else { %>
                                        
                                    <a data-payment_method="<%= data.id %>" class="btn text-center w-100 h-100 px-0 py-3 payment_btn" type="button">
                                        <img class="img-fluid b-r-7 mb-2" id="file-preview" width="105px" height="105px" src="../../uploads/<%= data.image %>" alt="image">
                                        <br>
                                        <span><%= data.title %></span>
                                    </a>

                                    <% }; %>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Bank Payment -->

    <div class="modal fade" id="add_patment" tabindex="-1" role="dialog" aria-labelledby="add_patment" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><%=language.Add_Payment%></h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="background-color: #FAFAFA;">
                    <div class="row d-flex justify-content-center">
                        <% transaction_method_list.forEach((data) => { %>
                            <% if(data.id == "7"){ %>

                                <div class="card">
                                    <div class="d-flex">
                                        <div class="col-6 mb-1 ">
                                            <h6 class="mb-1"><%=language.Bank_Name%> :- </h6>
                                            <p class="mb-3"><%=data.bank_name%></p>
                                        </div>
                                        <div class="col-6 mb-1 ">
                                            <h6 class="mb-1"> <%=language.Bank_Account_Holder_Name%>:- </h6>
                                            <p class="mb-3"><%=data.bank_holder_name%></p>
                                        </div>
                                    </div>

                                    <div class="d-flex">
                                        <div class="col-6 mb-1 ">
                                            <h6 class="mb-1"><%=language.Bank_Account_No%> :- </h6>
                                            <p class="mb-3"><%=data.bank_account_No%></p>
                                        </div>
                                        <div class="col-6 mb-1 ">
                                            <h6 class="mb-1"><%=language.IFSC_Code%> :- </h6>
                                            <p class="mb-3"><%=data.bank_ifsc_code%></p>
                                        </div>
                                    </div>

                                    <div class="d-flex">
                                        <div class="col-6 ">
                                            <h6 class="mb-1"><%=language.Bank_Swift_Code%> :- </h6>
                                            <p><%=data.swift_code%></p>
                                        </div>
                                        <div class="col-6 ">
                                            <h6 class="mb-1"><%=language.Unpaid_Amount%> :- </h6>
                                            <p class="invosymbol" id="show_paid_amount"></p>
                                        </div>
                                    </div>

                                    <form  class="needs-validation" id="order_payment_method" novalidate=""  method="post" enctype="multipart/form-data">
                                        <div class="col-12 pt-5">
                                            <label class="form-label"><%=language.Enter_Paid_Amount%></label>
                                            <input class="form-control form-control-lg" type="text" name="payment_amount" required>
                                        </div>
                                        <div class="col-12 pt-1">
                                            <label class="form-label"><%=language.Upload_Transaction_Image%></label>
                                            <input class="form-control form-control-lg" type="file" name="payment_image" required>
                                        </div>
                                        <div class="col-12 mt-3">
                                            <button class="btn btn-primary" id="bank_payment" type="submit"><%=language.Submit%></button>
                                        </div>
                                    </form>
                                </div>
                                

                            <% }; %>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Order Barcode -->

        <div class="modal fade bd-example-modal-lg" id="print_Barcoad" tabindex="-1" role="dialog" aria-labelledby="print_Barcoad" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel"><%=language.Product_Barcode%></h4>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row g-3 ">
                    <div id="barcode_page">
                    <div class="" id="show_barcode">
                        
                    <div class="border-bottom">
                    <div class="d-flex">
                        <div class="col-10 d-flex" style="padding-left: 20px;">
                            <img src="../../uploads/<%= general_data.site_dark_logo %>" class="logo-abbr mx-2 b-r-10 p-1 m-0" width="30px" height="30px" alt="image">
                            <h5 style="padding-top: 6px;"><%= general_data.site_title %></h5>
                        </div>
                        <div class="col-2">
                            <i class="icon-user"></i><i class="icon-minus"></i><i class="icon-tablet"></i><h5 style="padding-top: 6px;">Tracking Id :- 34353456546</h5>
                        </div>
                    </div>

                    <div class="text-center border-top col-12 pt-0 mt-1">
                        <h5 class="pt-3">Order Id :- #435345435</h5>
                        <svg class="barcode" style="width: 200px !important;" id="barcode"></svg>
                        <h6 class="pt-3">Product name</h6>
                    </div>

                    <div class="d-flex border-top" style="padding-left: 20px;">
                    <div class="col-6 text-center pt-1 mt-1">
                        <h6>From :- first_name, last_name</h6><p class="mb-1">state, city</p><p class="mb-1">phone_no</p><p style="margin-bottom: 6px;">country, pincode</p>
                    </div>
                    <div class="col-6 text-center pt-1 mt-1">
                        <h6>To :- first_name, last_name</h6><p class="mb-1">state, city</p><p class="mb-1">phone_no</p><p style="margin-bottom: 6px;">country, pincode</p>
                    </div>
                    </div>
                </div>
                    <div class="text-center pt-3" style="padding-top: 10px; padding-bottom: 10px;">
                        <span class=""><i class="icon-line-dashed"></i><i class="icon-line-dashed"></i><i class="icon-line-dashed"></i><i class="icon-cut"></i><i class="icon-line-dashed"></i><i class="icon-line-dashed"></i><i class="icon-line-dashed"></i></span>
                    </div>

                </div>
            </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" id="barcode_download"><%=language.Print_Barcoad%></button>
            </div>
            </div>
          </div>
        </div>

        <!-- Payment Method Model -->

        <div class="modal fade" id="payment_img" role="dialog" aria-labelledby="payment_img" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"><%=language.Payment_Details%></h5>
                        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body pb-0">
                        <div class="row g-3">
                            <div class="col-6 text-center">
                                <label class="col-form-label pt-0" ><%=language.Payment_Type%> :-</label>
                                <p class="mb-0" id="payment_type"></p>
                            </div>
                            <div class="col-6 text-center">
                                <label class="col-form-label pt-0"><%=language.Total_Payment%> :-</label>
                                <div id="payment_amount_model"></div>
                            </div>
    
                            <div class="col-12" id="show_payment_img">
                                <a href="" id="showimg_a" class="btn text-center w-100 h-100 p-0" type="button">
                                    <img class="img-fluid b-r-7 mb-2 showimg" id="file-preview" width="305px" height="305px" src="" alt="image">
                                    <br>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" data-bs-dismiss="modal"><%=language.Close%></button>
                    </div>
                </div>
            </div>
        </div>



  <%- include('./partials/footer'); -%>
  <%- include('./partials/script'); -%>
</body>

</html>