<!DOCTYPE html>
<html lang="en">
  
<head>
  <%- include('./partials/frontend_head'); -%>
  <meta http-equiv="Content-Type" content="">
  <meta http-equiv="X-UA-Compatible" content="">
  <meta name="viewport" content="">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <link rel="icon" href="" type="image/x-icon">
  <link rel="shortcut icon" href="" type="image/x-icon">
  <title>Login</title>
  <link rel="preconnect" href="https://fonts.googleapis.com/">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../../css/vendors/font-awesome.css">
  <!-- Bootstrap css-->
  <link rel="stylesheet" type="text/css" href="../../css/vendors/bootstrap.css">
  <!-- App css-->
  <link rel="stylesheet" type="text/css" href="../../css/style.css">

  <!-- toster jqury link -->
  <link rel="stylesheet" href="../../css/toastr.min.css"/>
  <script src="../../js/tostify/jquery-1.9.1.min.js"></script>
  <script src="../../js/tostify/js-toastr.js"></script>
</head>
<body>
  <%- include('./partials/frontend_header'); -%>
   
    <!-- login page start-->
    <div class="container-fluid height-65px">
      <div class="row">
        <div class="col-xl-12 p-0">    
          <div class="login-card">
            <div>
              <div class="login-main"> 
                <form class="theme-form" action="/forget_pass" method="post" id="forget_pass_form">
                  <h4 class="text-center"><%=language.Forget_Password%></h4>
                  
                  <div id="forget_phone_data">
                    <div class="form-group mt-4">
                      <label class="col-form-label"><%=language.Email_Or_Phone_No%>.</label>
                      <input class="form-control" type="text" name="user" id="forget_user" placeholder="<%=language.Enter%> <%=language.Email_Or_Phone_No%>." required>
                    </div>
                    <p class="text-danger d-none" id="forget_user_error"><%=language.Invalid_Email_Or_Phone_No%>.</p>
                    <input class="form-control" type="hidden" id="hidden_forget_otp">
  
                    <div class="text-end">
                      <button class="btn btn-primary btn-block btn-square b-r-5 w-50 mt-3" type="button" id="forget_otp_btn"><%=language.Send_OTP%></button>
                    </div>
                  </div>
                  
                  <div class="d-none" id="forget_otp_data">
                    <hr>
                    <div class="form-group mb-4">
                      <label class="col-form-label"><%=language.Enter_OTP%></label>
                      <input class="form-control" type="number" id="forget_otp" placeholder="<%=language.Enter_OTP%>" required>
                    </div>
                    <p class="text-danger d-none" id="forget_otp_error"><%=language.Invalid_OTP%></p>

                    <h5><%=language.Create_Your_New_Password%></h5>
                    <div class="form-group">
                      <label class="col-form-label"><%=language.New_Password%></label>
                      <input class="form-control" type="password" name="password" id="password" placeholder="<%=language.Enter%> <%=language.New_Password%>" required>
                    </div>
                    <div class="form-group">
                      <label class="col-form-label"><%=language.Confirm_Password%></label>
                      <input class="form-control" type="password" id="confirm_password" placeholder="<%=language.Enter%> <%=language.Confirm_Password%>" required>
                    </div>
                    <p class="text-danger d-none" id="confirm_password_error"><%=language.Confirm_Password_Is_Wrong%></p>
                    <button class="btn btn-primary btn-block btn-square b-r-5 w-100 mt-3" type="button" id="new_password_btn"><%=language.Send_OTP%></button>
                  </div>
                  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <%- include('./partials/frontend_footer'); -%>
    <%- include('./partials/frontend_script'); -%>
    <%- include('./partials/script'); -%>
  </body>
</html>