<!DOCTYPE html>
<html lang="en">
  
<head>

  <%- include('./partials/head'); -%>
</head>
<body onload="startTime()">
  <%- include('./partials/header_sidebar'); -%>
    
    <div class="page-body">
        <div class="container-fluid">
            <div class="page-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h3><%=language.Module%></h3>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/index"><i data-feather="home"></i></a></li>
                            <li class="breadcrumb-item"><%=language.Module_List%></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header text-end pb-0">
                        </div>
                        <div class="card-body">
                            <div class="table-responsive theme-scrollbar">
                                <table class="display" id="basic-1">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th><%=language.Name%></th>
                                            <th><%=language.Icon%></th>
                                            <th><%=language.Prefix%></th>
                                            <th><%=language.Is_Active%></th>
                                            <% let permissions = permission != "1" ? permission.module_per.split(",")[1] : "1" %>
                                            <% if(permissions == "1"){ %>
                                            <th><%=language.Action%></th>
                                            <% } %>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% module_list.forEach((data, x) => { %>
                                            <tr>
                                                <td><%= x + 1 %></td>
                                                <td><%= data.name %></td>
                                                <td><i class="<%= data.icon %> f-20"></i></td>
                                                <td><%=data.prefix%></td>
                                                <td>
                                                    <% if (data.isactive == '1') { %>
                                                        <span class="badge badge-success"><%=language.Active%></span>
                                                    <% } else { %>
                                                        <span class="badge badge-danger"><%=language.Inactive%></span>
                                                    <% } %>
                                                </td>
                                                <% if(permissions == "1"){ %>
                                                <td>
                                                    <ul class="action"> 
                                                        <li class="edit"><a data-bs-toggle="modal" data-bs-target="#edit_modulemodal" id="edit_module" data-id="<%= data.id %>"
                                                            data-name="<%= data.name %>" data-icon="<%= data.icon %>" data-prefix="<%=data.prefix%>" data-isactive="<%= data.isactive %>"><i class="icon-pencil-alt"></i></a></li>
                                                    </ul>
                                                </td>
                                                <% } %>
                                            </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid Ends-->
    </div>


    <!-- edit_modulemodal -->
    
    <div class="modal fade" id="edit_modulemodal" tabindex="-1" role="dialog" aria-labelledby="edit_modulemodal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><%=language.Edit_Module%></h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form  class="needs-validation" novalidate="" id="edit_id" method="post">
                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="col-12">
                                <label class="form-label"><%=language.Module_Name%></label>
                                <input class="form-control" type="text" name="name" id="name" placeholder="<%=language.Enter%> <%=language.Module_Name%>" required>
                            </div>
                            <div class="col-12">
                                <label class="form-label"><%=language.Module_Icon%></label>
                                <input class="form-control" type="text" name="icon" id="icon" placeholder="<%=language.Enter%> <%=language.Module_Icon%>" required>
                            </div>
                            <div class="col-12">
                                <label class="form-label"><%=language.Module_Prefix%></label>
                                <input class="form-control" type="text" name="prefix" id="Prefix" placeholder="<%=language.Enter%> <%=language.Module_Prefix%>" required>
                            </div>
                            <div class="col-12">
                                <div class="d-flex mt-2">
                                    <div class="icon-state">
                                        <label class="switch" id="">
                                            <input type="checkbox" name="isactive" id="edit_switch"><span class="switch-state bg-success"></span>
                                        </label>
                                    </div>
                                    <label class="col-form-label text-start m-l-10"><%=language.Is_Active%></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal"><%=language.Close%></button>
                        <button class="btn btn-primary" type="submit"><%=language.Save%></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

  <%- include('./partials/footer'); -%>
  <%- include('./partials/script'); -%>
</body>

</html>