<!DOCTYPE html>
<html lang="en">
  
<head>
    
    <%- include('./partials/head'); -%>
</head>
<body>
    
    <!-- Loader starts-->
    <div class="loader-wrapper">
        <div class="loader-box">
            <div class="loader-19"></div>
        </div>
    </div>
    <!-- Loader ends-->
    <div class="container-fluid height-200px">
        <div class="row">
            <div class="col-xl-12 p-0">    
                <div class="login-card">
                    <div class="card w-50">
                        <div class="card-header p-3 mx-3">
                            <h5><%=language.What_would_you_like_to_move%></h5>
                        </div>
                        <div class="card-body" style="background-color: #FAFAFA;">
                            <div class="row">
                                <form action="/packers_and_movers/add_subcategory_product" method="post" id="sub_category_form">
                                    <div class="col-12">
                                        <div class="default-according style-1" id="accordionoc">
                                            <% subcategory_data.forEach((data) => { %>
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5 class="mb-0">
                                                            <button class="btn btn-link ps-0" data-bs-toggle="collapse" data-bs-target="#collapseicon<%= data.id %>" aria-expanded="true" aria-controls="collapse11" type="button">
                                                                <img class="img-fluid b-r-10 mx-3" id="file-preview" width="50px" height="50px" src="../uploads/<%= data.image %>" alt="image"> <%= data.name %>
                                                            </button>
                                                        </h5>
                                                    </div>
                                                    <div class="collapse" id="collapseicon<%= data.id %>" aria-labelledby="collapseicon" data-bs-parent="#accordionoc">
                                                        <div class="card-body">
                                                            <% var i = 0 %>
                                                            <% product_data.forEach((product_data) => { %>
                                                                <% if (product_data.subcategory_name == data.id) { %>
                                                                    <div class="row px-3">
                                                                        <div class="d-flex justify-content-between">
                                                                            <h5><%= product_data.name %></h5>
                                                                            <div class="d-flex align-items-center plus_minus">
                                                                                <a type="button" class="minus text-dark d-flex align-items-center"><i class="fa fa-minus-circle f-20"></i></a>
                                                                                <h5 class="f-20 mb-0 mx-3 value">0</h5>
                                                                                <a type="button" class="plus text-dark d-flex align-items-center"><i class="fa fa-plus-circle f-20"></i></a>
                                                                                <input type="hidden" name="product_name" value="<%= product_data.id %>">
                                                                                <input type="hidden" class="product_qty" name="product_qty" value="0">
                                                                                <input type="hidden" class="hidden_product_price" name="" value="<%= product_data.price %>">
                                                                                <input type="hidden" class="product_price" name="product_price" value="0">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                    <% i++ %>
                                                                <% } %>
                                                            <% }) %>
                                                            <% if (i == '0') { %>
                                                                <h5 class="mx-3 text-danger"><%=language.Product_Details_Not_Available%></h5>
                                                            <% } %>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% }) %>
                                        </div>
                                        <input type="hidden" id="subcategory_price" value="0">
                                        <p class="text-danger d-none" id="sub_category_error"><%=language.Please_Add_Product%></p>
                                    </div>
                                    <button class="btn btn-primary btn-square b-r-5 w-100 mt-4" id="sub_category_btn" type="button"><%=language.Next%></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('./partials/script'); -%>
</body>

</html>