<!DOCTYPE html>
<html lang="en">
  
<head>
    
  <%- include('./partials/head'); -%>
</head>
<body onload="startTime()">
  <%- include('./partials/header_sidebar'); -%>
    
    <div class="page-body">
        <div class="container-fluid">
            <div class="page-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h3><%=language.Social%> <%=language.Containt%></h3>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/index"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item"><%=language.Social%> <%=language.Containt%></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <% let permiss = permission != "1" ? permission.cus_exp.split(",")[1] : "1" %>
                        <% if(permiss == "1"){ %>
                        <div class="card-header text-end pb-0">
                            <button class="btn btn-square btn-primary b-r-10" type="button" data-bs-toggle="modal" data-bs-target="#add_social_containt"><%=language.Add%> <%=language.Containt%></button>
                        </div>
                        <% } %>
                        <div class="card-body">
                            <div class="table-responsive theme-scrollbar">
                                <table class="display" id="basic-1">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th><%=language.Image%></th>
                                            <th><%=language.Link%></th>
                                            <% let permissions = permission != "1" ? permission.cus_exp.split(",")[2] : "1" %>
                                            <% if(permissions == "1"){ %>
                                            <th><%=language.Action%></th>
                                            <% } %>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% var i = 1 %>
                                        <% social_containt.forEach((data) => { %>
                                            <tr>
                                                <td><%= i %></td>
                                                <td><i class="<%=data.symbol%> f-20"> </i></td>
                                                <td><%= data.link %></td>
                                                <% if(permissions == "1"){ %>
                                                <td> 
                                                    <ul class="action"> 
                                                        <li class="edit"><a data-bs-toggle="modal" data-bs-target="#edit_social_con_module" id="edit_social_containt" data-id="<%=data.id%>" data-sybmol="<%=data.symbol%>" data-link="<%= data.link %>"><i class="icon-pencil-alt"></i></a></li>
                                                        <li class="delete"><a href="/settings/delete_social_con/<%= data.id %>"><i class="icon-trash"></i></a></li>
                                                    </ul>
                                                </td>
                                                <% } %>
                                            </tr>
                                        <% i++ %>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid Ends-->
    </div>

    <!-- add_social_containt -->

    <div class="modal fade" id="add_social_containt" tabindex="-1" role="dialog" aria-labelledby="add_social_containt" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><%=language.Add%> <%=language.Containt%></h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form  class="needs-validation" action="/settings/add_social_containt" method="post">
                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="col-12">
                                <label class="form-label"><%=language.Icon%></label>
                                <input class="form-control" type="text" name="symbol" placeholder="<%=language.Enter%> fa fa-name" required>
                            </div>
                            <div class="col-12">
                                <label class="form-label"><%=language.Link%></label>
                                <input class="form-control" type="text" name="link" placeholder="<%=language.Enter%> <%=language.Link%>" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal"><%=language.Close%></button>
                        <button class="btn btn-primary" type="submit"><%=language.Save%></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- edit_social_containt -->

    <div class="modal fade" id="edit_social_con_module" tabindex="-1" role="dialog" aria-labelledby="edit_social_con_module" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><%=language.Edit%> <%=language.Experience%></h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form  class="needs-validation" id="edit_social_con_form" action="" method="post" >
                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="col-12">
                                <label class="form-label"><%=language.Icon%></label>
                                <input class="form-control" type="text" id="social_symbol" name="symbol" placeholder="<%=language.Enter%> fa fa-name" required>
                            </div>
                            <div class="col-12">
                                <label class="form-label"><%=language.Link%></label>
                                <input class="form-control" type="text" id="social_link" name="link" placeholder="<%=language.Enter%> <%=language.Link%>" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal"><%=language.Close%></button>
                        <button class="btn btn-primary" type="submit"><%=language.Save%></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

  <%- include('./partials/footer'); -%>
  <%- include('./partials/script'); -%>
</body>

</html>